/*
.App {
 padding: 20px;
  display: flex;
}

.App > div {
  margin-left: 60px;
}

.error {
    border: red 2px solid;
}
.errorMessage {
    color: red;
}

.activeFilter {
    background-color: darkslategray;
    color: aquamarine;
}

.isDone {
    opacity: 0.5;
    text-decoration: line-through;
}*/
